<div class="form">
	<form action="#" id="form1">
		<lavel>作業1:<input type="text" name="word" value="プロジェクト:作業内容。1h"></lavel>
		<input type="submit" value="表示">
	</form>
	<form action="#" id="form2">
		<lavel>作業2:<input type="text" name="word"></lavel>
		<input type="submit" value="表示">
	</form>
	<form action="#" id="form3">
		<lavel>作業3:<input type="text" name="word"></lavel>
		<input type="submit" value="表示">
	</form>
	<form action="#" id="form4">
		<lavel>作業4:<input type="text" name="word"></lavel>
		<input type="submit" value="表示">
	</form>
	<form action="#" id="form5">
		<lavel>作業5:<input type="text" name="word"></lavel>
		<input type="submit" value="表示">
	</form>
</div>
<br><hr>
<div>
	*勤務時間:<br>
	<%= @today %>
	(<%= @youbi %>)<br>
	<%= @time %>
	(<%= @work_time %>h)<br>
	実働(<%= @working_time %>h)<br>
	*作業内容:
	<!--表示される場所-->
	<p id="output1"></p>
	<p id="output2"></p>
	<p id="output3"></p>
	<p id="output4"></p>
	<p id="output5"></p>

	-------------
</div>
<script>
document.getElementById('form1').onsubmit = function() {
	var	display1 = document.getElementById('form1').word.value;
	document.getElementById('output1').textContent = ''+ display1 +''
	;
	return false;
};
document.getElementById('form2').onsubmit = function() {
	var	display2 = document.getElementById('form2').word.value;
	document.getElementById('output2').textContent = ''+ display2 +''
	;
	return false;
};
document.getElementById('form3').onsubmit = function() {
	var	display3 = document.getElementById('form3').word.value;
	document.getElementById('output3').textContent = ''+ display3 +''
	;
	return false;
};
document.getElementById('form4').onsubmit = function() {
	var	display4 = document.getElementById('form4').word.value;
	document.getElementById('output4').textContent = ''+ display4 +''
	;
	return false;
};
document.getElementById('form5').onsubmit = function() {
	var	display5 = document.getElementById('form5').word.value;
	document.getElementById('output5').textContent = ''+ display5 +''
	;
	return false;
};
</script>
